<TabView
    androidTabsPosition="bottom"
    tabBackgroundColor="#4b83a8"
    selectedTabTextColor="#fb8d38"
    tabTextColor="#fff"
    class="dashboard">
    <StackLayout *tabItem="{title: 'Calendar'}">
        <ns-calendar></ns-calendar>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Diets'}">
        <ns-diet *ngIf="dietToEdit; else dietsList" [diet]="dietToEdit" [isEditable]="true"></ns-diet>
        <ng-template #dietsList>
            <ns-diets-list (itemTapEvent)="onDietItemTap($event)"></ns-diets-list>
        </ng-template>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Settings'}">
        <ns-settings></ns-settings>
    </StackLayout>
</TabView>
