@import '../../styles/index.scss';

.day {
    background-color: $background-box-color;
    padding: 10 10 0 10;

    .day-label {
        padding-top: -5;
        font-size: 20;
    }

    .day-field {
        text-align: center;
        border-bottom-width: 1;
        border-color: transparent;
    }
}
