@import '../../styles/index.scss';

.calendar-day {
    background-color: $background-box-color;
    padding: 10 10 0 10;

    .calendar-day-label {
        padding-top: -5;
        font-size: 20;
    }

    .calendar-day-info {
        text-align: center;
    }
}
