<GridLayout
    *ngIf="day"
    rows="50, 25, 25"
    columns="*, *, *"
    class="calendar-day">
    <Label class="calendar-day-label" row="0" col="0" [text]="label"></Label>
    <Label class="calendar-day-info" row="0" col="2" text="Calories: {{day.calories}}"></Label>
    <Label class="calendar-day-info" row="1" col="0" text="Proteins: "></Label>
    <Label class="calendar-day-info" row="1" col="1" text="Fats: "></Label>
    <Label class="calendar-day-info" row="1" col="2" text="Carbohydrates: "></Label>
    <Label class="calendar-day-info" row="2" col="0" [text]="day.proteins"></Label>
    <Label class="calendar-day-info" row="2" col="1" [text]="day.fats"></Label>
    <Label class="calendar-day-info" row="3" col="2" [text]="day.carbohydrates"></Label>
</GridLayout>

