<StackLayout class="week" *ngIf="week">
    <StackLayout class="day" ns-day [day]="week.monday" [label]="days.Monday" [editable]="editable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.tuesday" [label]="days.Tuesday" [editable]="editable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.wednesday" [label]="days.Wednesday" [editable]="editable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.thursday" [label]="days.Thursday" [editable]="editable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.friday" [label]="days.Friday" [editable]="editable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.saturday" [label]="days.Saturday" [editable]="editable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.sunday" [label]="days.Sunday" [editable]="editable"></StackLayout>
</StackLayout>
