<StackLayout class="week" *ngIf="week">
    <StackLayout class="day" ns-day [day]="week.monday" [label]="days.Monday" [isEditable]="isEditable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.tuesday" [label]="days.Tuesday" [isEditable]="isEditable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.wednesday" [label]="days.Wednesday" [isEditable]="isEditable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.thursday" [label]="days.Thursday" [isEditable]="isEditable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.friday" [label]="days.Friday" [isEditable]="isEditable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.saturday" [label]="days.Saturday" [isEditable]="isEditable"></StackLayout>
    <StackLayout class="day" ns-day [day]="week.sunday" [label]="days.Sunday" [isEditable]="isEditable"></StackLayout>
</StackLayout>

