@import '../../styles/index.scss';

.diets-list {
    height: 100%;

    .diet-name {
        margin: 20;
        text-align: center;
        background-color: $background-box-color;
        height: 60;
        font-size: 22;
        padding: 16;
    }
}

